# OS and IDE
.emacs*
.c9
*.flymake
*~
.#*
.idea
*.sublime-*

# bower
bower_components/bower/# phpmyadmin
bower_components/
phpmyadmin/*

# npm
node_modules
npm-debug.log

# project-specific
public/css/sourcemaps/**/*
public/js/sourcemaps/**/*
public/**/*.css
views/**/*.html

# grunt & gulp
.grunt
.gulp

# gradle
.gradle
out
.htaccess


#public/bower