extends common/layout

block title
append style
	link(rel='stylesheet' href='../public/css/foundTeamInvite.css')
block body
	div.row
		div.col-xs-4
			img(src="./images/team_default_pic.png", alt="")
			p.teamName 爱老虎油对
		div.col-xs-4
			img.VS(src="./images/VS.png", alt="")
		div.col-xs-4
			img(src="./images/team_default_pic.png", alt="")
			p.teamName 爱老虎油对
	ul.list-group
		li
			a.list-group-item(href='#') 赛制
				span.badge 11人制#{'>'}
		li 
			a.list-group-item(href='#') 留言

