include ./star
mixin Item
	div.Item
		div.media
			div.media-left.media-middle
				img.media-object(src="../images/bg_.png", alt="")
			div.media-body.media-middle
				h3 球场名称
				div.location
					span.icon_bg
					span 锦江区龙舟路105号讲讲讲讲
				+star()
			div.media-right
				p.media-heading 1.3km
		ul.list-group.small
			li.list-group-item
				span.price ￥ 158元
				span /起
				a(href="javascript:;").badge
					img(src="../images/button_call.png", alt="")