extends ../common/layout
include ./title
include ./item
append style
	link(rel="stylesheet", href="../css/predetermine.css")
	link(rel="stylesheet", href="../css/star.css")
block body
	+Title()
	ul.list-group.big
		li.list-group-item
			+Item()
		li.list-group-item
			+Item()