*{
	margin:0;padding:0
}
.clear-fix:after{
	content:'.';display:block;visibility:hidden;height:0;width:0;clear:both;
}
a{
	text-decoration:none;
}
@mixin size ($width,$height) {
	width:$width;height:$height;
}
@mixin color ($fc,$bgc){
	color:$fc;background:$bgc;
}
@mixin font ($size,$lh){
	font-size:$size;line-height:$lh;
}
@mixin border($border,$br){
	border:$border;border-radius:$br;
}
.test{
	@include size(200px,300px);
	@include color(blue,red);
	@include font(30px,60px);
	@include border(1px solid #eee,50%)
}