mixin Title(index)
		div.Home
			ul.nav.nav-pills
				li(role='presentation').border-right
					a(aria-controls='home' role='button' data-toggle='dropdown' href='' aria-haspopup="true" aria-expanded="false").dropdown-toggle 成都
					ul.dropdown-menu.list-group
						li.list-group-item 赫曼
						li.list-group-item 卡里塞
						li.list-group-item 卡里塞
						li.list-group-item 卡里塞
						li.list-group-item 卡里塞
						li.list-group-item 卡里塞
						li.list-group-item 卡里塞
				li(role='presentation').border-right.active
					a(href='foundInvite.html') 约球
				li(role='presentation').border-right
					a(href="foundTeam.html") 球队
				li(role='presentation')
					a(href="foundPlayer.html") 球员
mixin DropDown() 
		a(aria-controls='home' role='button' data-toggle='dropdown' href='' aria-haspopup="true" aria-expanded="false").dropdown-toggle.list-group-item 成都
		ul.dropdown-menu.list-group
			li.list-group-item 赫曼
				span.badge 
			li.list-group-item 卡里塞
				span 


				