mixin Title(index)
		div.row.nav.navbar-fixed-top
			div.col-xs-3.hasRightBorder
				div.btn-group
					button.btn.btn-default.dropdown-toggle(type='button'  data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false") 成都&nbsp;
						span.caret
					ul.dropdown-menu
						li
							a(href='#') 成都
						li
							a(href='#') 河南
			div.col-xs-3.hasRightBorder
				a 约球
			div.col-xs-3.hasRightBorder
				a 球队
			div.col-xs-3
				a 球员
mixin DropDown()
	div.btn-group.full
		button.btn.btn-default.dropdown-toggle(type='button'  data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false") 综合&nbsp;
			span.caret
		ul.dropdown-menu
			li
				a(href='#') 战绩
					span.glyphicon.glyphicon-ok
			li
				a(href='#') 人气
					span.glyphicon.glyphicon-ok

				