mixin In
	div.in
		div.btn-group(data-toggle='buttons')
			label.btn.active
				input(type="radio" name='options' autocomplete='off' checked)
				div.media
					div.media-left.media-middle
						span.icon
					div.media-body
						img.media-object(src="../images/team_default_pic.png", alt="")
					div.media-right.media-middle
						h5 洋河蓝色经典
			label.btn
				input(type="radio" name='options' autocomplete='off' checked)
				div.media
					div.media-left.media-middle
						span.icon
					div.media-body
						img.media-object(src="../images/team_default_pic.png", alt="")
					div.media-right.media-middle
						h5 洋河蓝色经典
mixin Ball
	div.Ball
		ul.list-group.big
			li.list-group-item
				p.title 赛事
				ul.list-group.small
					li.list-group-item 对战
						span.blue 蓝色经典
						span.badge (2016.6.9)
					li.list-group-item
						div.btn-group(data-toggle='buttons').row
							label.btn.active
								span.icon
								input(type="radio" name='optionss' autocomplete='off' checked)
								span 左前锋
							label.btn
								span.icon
								input(type="radio" name='optionsGame' autocomplete='off') 
								span 左后卫
							label.btn
								span.icon
								input(type="radio" name='optionsGame' autocomplete='off') 
								span 左后卫
							label.btn
								span.icon
								input(type="radio" name='optionsGame' autocomplete='off') 
								span 左后卫
			li.list-group-item
				p.title 活动
				ul.list-group.small
					li.list-group-item 活动
						span.blue 
						span.badge (2016.6.9)
					li.list-group-item
						div.btn-group(data-toggle='buttons').row
							label.btn.active
								span.icon
								input(type="radio" name='optionss' autocomplete='off' checked)
								span 左前锋
							label.btn
								span.icon
								input(type="radio" name='optionsGame' autocomplete='off') 
								span 左后卫
							label.btn
								span.icon
								input(type="radio" name='optionsGame' autocomplete='off') 
								span 左后卫
							label.btn
								span.icon
								input(type="radio" name='optionsGame' autocomplete='off') 
								span 左后卫

extends ../common/layout

append style 
	link(rel="stylesheet", href="../css/foundPlayerInvite.css")

block body
	div(id='myTabs')
		ul.nav.nav-pills
			li(role='presentation').active
				a(href='#in' aria-controls='in' role='tab' data-toggle='tab') 入队邀请
			li(role='presentation')
				a(href='#yue' aria-controls='in' role='tab' data-toggle='tab') 约球邀请
		p.gray-line
		div.tab-content
			div(role='tabpanel' id='in').tab-pane.active
				p.title 选择您的球队
				+In()
			div(role='tabpanel' id='yue').tab-pane
				+Ball()
		div.green-div
			button.green 发送邀请
